<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hope</title>
    <meta http-equiv="refresh" content="3;url=/language">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" type="image/png" href="/static/images/hope.jpg">

</head>
<body>
    <div class="page">
        <div class="content">
            <img src="/static/images/hope.jpg" alt="BrainCare AI Logo" class="logo">
            <h1></h1>
            <p class="subtitle">Brain Tumor Detection System</p>
        </div>
    </div>
</body>
</html>